data/clean/*
!data/clean/individualPlant_allCities/
data/raw/*
!data/raw/latLongs_cityCenters.csv
!data/raw/mtjj_jss/
data/raw/mtjj_jss/*
!data/raw/mtjj_jss/mtjj_popMeans/
!data/raw/environmental_data/
analysis/*
!analysis/supplementary-tables/
*.ipynb
Rmarkdown/
misc/
*.pyc
*venv
renv/Library
*.pdf
_archive/
